{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
   <div class="container">
        <h1>Lista de Tarefas</h1>

        <div class="task-list">
             {% if messages %}
                {% for message in messages %}
                    <div class="{% if message.tags == 'success' %}message-success{% elif message.tags == 'error' %}message-error{% else %}message-info{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

            {% for tarefa in tarefas %}
                <div class="task {% if tarefa.custo >= 1000 %}highlight{% endif %}"id="tarefa-{{ tarefa.id }}">
                    <div class="task-info">
                        <p><strong>Nome:</strong> {{ tarefa.nome }}</p>
                        <p><strong>Data de Conclusão:</strong> {{ tarefa.data_limite }}</p>
                        <p><strong>Custo:</strong> R$ {{ tarefa.custo }}</p>
                    </div>
                    <div class="task-actions">
                        <button class="move-up-btn" onclick="moverParaCima('tarefa-{{ tarefa.id }}')">⬆️ Subir</button>
                        <button class="move-down-btn" onclick="moverParaBaixo('tarefa-{{ tarefa.id }}')">⬇️ Descer</button>

                        <button class="edit-btn"
                                onclick="mostrarPopup('{{ tarefa.id }}','{{ tarefa.nome }}','{{tarefa.custo}}','{{tarefa.data_limite}}')">✏️
                            Editar</button>
                        <a class="delete-btn" href="{% url 'excluir' tarefa.id %}"
                           onclick="return confirmarExclusao('{{ tarefa.nome }}')">🗑️
                            Excluir</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="add-link" href="{% url 'form_adicionar' %}">+ Incluir Nova Tarefa</a>
    </div>
<!-- Popup de Edição -->
<div id="popup" class="popup-overlay" style="display: none;">
    <div class="popup">
        <h2>Editar Tarefa</h2>
        <input type="hidden" id="tarefa-id">
        <input type="text" id="campo-nome" placeholder="Nome da Tarefa">
        <input type="number" id="campo-custo" placeholder="Custo (R$)">
        <input type="date" id="campo-data" placeholder="Data Limite">
        <button onclick="salvarEdicao()">Salvar Alterações</button>
        <button onclick="fecharPopup()">Cancelar</button>
    </div>
</div>
</body>
<script>
    function confirmarExclusao(nomeTarefa) {
        var confirmacao = confirm(`Tem certeza que deseja excluir a tarefa ${nomeTarefa}?`);
        if (confirmacao){
            return true;
        }else {
            return false;
        }
    }
     function mostrarPopup(id, nome, custo, data) {
        document.getElementById('popup').style.display = 'flex';
        document.getElementById('tarefa-id').value = id;
        document.getElementById('campo-nome').value = nome;
        document.getElementById('campo-custo').value = custo;
        const dataFormatada = new Date(data).toISOString().split('T')[0];
        document.getElementById('campo-data').value = dataFormatada;
    }
    function fecharPopup() {
        document.getElementById('popup').style.display = 'none';
    }
    async function salvarEdicao() {
        const id = document.getElementById('tarefa-id').value;
        const nome = document.getElementById('campo-nome').value;
        const custo = document.getElementById('campo-custo').value;
        const data_limite = document.getElementById('campo-data').value;

        // Verificar se todos os campos estão preenchidos
        if (!nome || !custo || !data_limite) {
            alert("Por favor, preencha todos os campos.");
            return;
        }

        // Enviar uma requisição AJAX para editar a tarefa
        const response = await fetch(`/editar_tarefa/${id}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({nome, custo, data_limite})
        });

        if (response.ok) {
            alert("Tarefa editada com sucesso!");
            window.location.reload(); // Atualizar a página
        } else {
            alert("já existe uma tarefa com esse nome");
        }
    }
    function moverParaCima(tarefaId) {
        const tarefa = document.getElementById(tarefaId);
        const tarefaAnterior = tarefa.previousElementSibling;

        if (tarefaAnterior) {
            tarefa.parentNode.insertBefore(tarefa, tarefaAnterior);
        }
    }

    // Função para mover tarefa para baixo
    function moverParaBaixo(tarefaId) {
        const tarefa = document.getElementById(tarefaId);
        const proximaTarefa = tarefa.nextElementSibling;

        if (proximaTarefa) {
            tarefa.parentNode.insertBefore(proximaTarefa, tarefa);
        }
    }

</script>

</html>